.intro{
	
	font-family: "宋体";

}
/*导航栏部分开始*/
.intro_nav{
	
	height:80px;
	
	width:1365px;
	
	background:skyblue;
	
	/*position: fixed;*/
	
}
.intro_nav>ul{
	
	list-style: none;
	
	width: 80%;
	
	margin: 0 auto;
	
	

}
.intro_nav>ul>li{
	
	float: left;
	
	line-height: 80px;
	
	font-size: 20px;
	
	transition: 1s ease-in;
	
	cursor: pointer;
	
	min-width:120px;
	
	text-align: center;
	
	margin-left: 5px;

}
.intro_nav>ul>li>a{
	
	color: white;
	

}
@-moz-keyframes anm{
	0%{width:  0px; }
	25%{width: 30px;}
	50%{width: 60px;}
	75%{width: 90px;}
	100%{width:120px; }
}
@-ms-keyframes anm{
	0%{width:  0px; }
	25%{width: 30px;}
	50%{width: 60px;}
	75%{width: 90px;}
	100%{width:120px; }
}
@-webkit-keyframes anm{
	0%{width:  0px; }
	25%{width: 30px;}
	50%{width: 60px;}
	75%{width: 90px;}
	100%{width:120px; }
}
.underline{
	
	display: block;

	/*position: absolute;*/
	
	height: 2px ;
	
	width: 120px;

	opacity: 0;
	
	background: skyblue;
	
	margin: 0 auto;
	
}
.underline_active{

	opacity: 1;

}
.intro_nav>ul>li:hover .underline{
	
	/*display: block;*/

	width: 120px;

	opacity: 1;
	
	animation: anm .5s ease-in;	
}
.intro_nav>ul>li:hover{
	
	background: white;
		
}
.singalNav{
	
	background: white;
	
}
.intro_nav>ul>li.singalNav>a{
	
	color: skyblue;
	
}
/*.singalNav::after{
	
	content: '';
	
	display: block;
	
	border: 1px solid skyblue;
	
}*/
/*.intro_nav>ul>li:hover::after{
	
	content: '';
	
	display: block;
	
	margin: 0 auto;
	
	animation: anm  3s ease-in;
	
	border: 1px solid skyblue;
}*/
.intro_nav>ul>li:hover a{
	
	color: skyblue;
	
}
/*导航栏部分结束*/
.dust{
	
	width: 1365px;
	
	height: 645px;
	
	position: fixed;
	
	background: rgba(200,200,200,0.35);
	
	z-index: 100;
	
	top: 0;
}
/*进入页面选择跳转的功能*/
.intro_preview{
	
	height:400px;
	
	width: 600px;

	border: 1px solid rgb(200,200,200);	
	
	position: absolute;
	
	z-index: 1000;
	
	background: #F2FAFE;
	
	top: 0;
	
	left: 0;
	
	right: 0;
	
	bottom: 0;
	
	margin:  auto;
	
	text-align: center;
	
	font-family: '宋体';
	
}
.intro_preview>h2{
	
	font-size: 25px;
	
	margin-top: 20px;
	
}
.intro_preview_image{
	
	height: 100px;
	
	width: 100px;
	
	background: url('../image/myself_icon.jpg') no-repeat;
	
	background-size: 100px 100px;
	
	border-radius: 50%;
	
	margin: 20px auto;
	
}
.intro_preview_time,.intro_preview_open{
	
	font-size: 16px;
	
	font-family: "宋体";
	
	color:rgb(100,100,100);
	
	text-align: left;
	
	width: 200px;
	
	margin: 15px auto;
}
.intro_preview_open>span:first-child{
	letter-spacing: 32px;
}
.intro_preview_open>span:nth-child(2){
	
	margin-left: -40px;
	
}
.intro_preview_time>span:first-child,.intro_preview_open>span:first-child{
	
	color: rgb(150,150,150);
	
}
.intro_preview_button{
	
	
	
	
}
.intro_preview_button .preview_alter,.intro_preview_button .preview_look{
	
	display: inline-block;
	
	height: 40px;
	
	width: 150px;
	
	border: 1px solid #FF6000;
	
	line-height: 40px;
	
	font-size:20px;
	
	margin-top: 50px;
	
	margin-left: 20px;
	
	font-family: '宋体';
}
.intro_preview_button .preview_alter{
	
	color:white;
	
	background: #FF6000;
	
}
.intro_preview_button .preview_alter:hover{
	
	color:white;
	
	background: #FF6000;
	
	opacity: 0.8;
	
}
.intro_preview_button .preview_look{
	
	color: #FF6000;
	
	background: #FFF2E3;
	
}
.intro_preview_button .preview_look:hover{
	
	color: #FF6000;
	
	background: #FFF2E3;
	
	opacity: 0.6;
	
	
	
}
.clear{
	
	clear: both;
	
}
