.intro_message{
	
	width: 80%;
	
	min-height:350px;
	
	position: relative;
	
	margin: 50px auto;
	
	transition: .5s ease-in-out;
	
}
.intro_message:hover,.intro_skill:hover{
	
	border: 1px solid skyblue;
	
	
}
.intro_message:hover .intro_message_alert{
	
	display: block;
	transition: .5s ease-in-out;
	
}
.intro_message_alert{
	
	height: 50px;
	
	width: 50px;
	
	background: url('../image/alert.png') no-repeat;
	
	background-size: 25px 25px;
	
	position: absolute;
	
	top: 25px;
	
	right: 10px;
	
	cursor: pointer;
	
	display: none;	
	
}
.intro_message_alert:hover{
	
	background: url('../image/alert_light.png') no-repeat;
	
	background-size: 25px 25px;
	
}
.intro_message>h2{
	margin-left: 120px;
	font-size: 30px;
	font-weight: 600;
	padding-top: 20px;
	position: relative;
	cursor: pointer;
	
}
.intro_message>ul{
	margin-left: 120px;
	margin-top: 30px;
}
.intro_message>ul>li{
	
	margin-top: 10px;
	
	letter-spacing: 2px;
	
	font-size: 18px;
	transition: 1s ease-in;
	
}
.intro_message>h2::before{
	
	content: '';
	
	display: inline-block;
	
	width: 80px;
	
	height: 104px;
	
	position: absolute;
	
	/*border: 1px solid red;*/
	
	top: 45px;
	
	left: -100px;
	
	background: url('../image/myself_icon.jpg') no-repeat;
	
	background-size: 80px 104px;
	
	transition: .5s ease-in;
}
.intro_message>h2:hover::before{
	
	cursor: pointer;
	
	background-size: 96px 124px;
	
	background-position: -7px -10px;
	
	
}
.intro_message>ul>li:nth-child(6):hover{
	color: orange;
	font-size:25px;
	cursor: pointer;
	/*position: absolute;*/
	
}
.intro_message>ul>li:nth-child(7):hover{
	
	color: orange;
	font-size: 25px;
	cursor: pointer;
	transition: .5 ease-in;
	
}
