.intro_assessment{
	
	position: relative;
	
	width: 80%;
}
.intro_assessment>ul {
	
	/*width:100%;*/
	
	height: 350px;
	
	text-align: center;
	
	color: white;
	
	font-size: 20px;
	
    position: relative;	
    
    overflow: hidden;
 
}
.intro_assessment>ul>li{
	
	width: 100%;
	
	height: 350px;
	
	line-height: 350px;
	
	position: absolute;
	
	overflow: hidden;
	
}
.intro_assessment>ul>li:nth-child(1){
	
	background: blueviolet;
	
	width: 100%;
	
	
}
.intro_assessment>ul>li:nth-child(2){
	
	background: gray;
	left:100%;
	/*left: 1079px;*/
}
.intro_assessment>ul>li:nth-child(3){
	
	background: brown;
	/*left: 1079px;*/
		left:100%;
		/*width: 100%;*/
}
.intro_assessment>ul>li:nth-child(4){
	
	background: deepskyblue;
     /*left: 1079px;*/
    	left:100%;
    	/*width: 100%;*/
}
.intro_assessment>ul>li:nth-child(5){
	
	background: deeppink;
	/*left: 1079px;*/
		left:100%;
}
.intro_assessment>ul>li:nth-child(6){
	
	background: gold;
	/*left: 1079px;*/
		left:100%;
		/*width:1079px;*/
}

.intro_assessment .btns>a{
	
	position: absolute;
	
	display: none;
	
	height: 100px;
	
	width: 50px;
	
	background: rgba(100,100,100,0.5);
	
	color: white;
	
	font-size: 30px;
	 
	text-align: center;
	
	line-height: 100px;

}
.leftBtn{
	
	top: 125px;
	
	left: 10px;
	
}
.rightBtn{
	
	right:10px;
	
	top: 125px;
}
.intro_assessment:hover .rightBtn,.intro_assessment:hover .leftBtn{
	
	display: block;
	
}
.rightBtn:hover,.leftBtn:hover{
	
	opacity: 0.3;
	
}
.circles{
	
	position: absolute;
	
	bottom: 20px;
	
	left: 70%;
	
}
.circles>li{
	
	height: 10px;
	
	width: 10px;
	
	float: left;
	
	border: 1px solid white; 
	
	border-radius: 5px;
	
	margin-left: 10px;
	
	cursor: pointer;
}
.circles>li:hover{
	
	border: 1px solid rgba(100,100,100,0.3);
	
}
.cur{
	
	background: orange;
	
}
