.intro_intension,.intro_job,.intro_education,.intro_study,.intro_assessment{
	
	width: 80%;
	
	min-height:350px;
	
	margin: 50px 145px;
	
	border-top: 1px solid transparent;
}
.intro_intension:hover,.intro_job:hover,.intro_education:hover,.intro_study:hover,.intro_assessment:hover{
	
	border: 1px solid skyblue;
	
}
.intro_intension>ul,.intro_job>ul,.intro_education>ul,.intro_study>ul{
	
	margin-left: 50px;
	
	margin-top: 50px;
	
	font-family: '宋体';
	
	font-size: 18px;
	
}
.intro_intension>ul>li,.intro_job>ul>li,.intro_education>ul>li,.intro_study>ul>li{
	
	margin-top:20px;
	
}
.intro_intension>ul>li>span:first-child,.intro_job>ul>li>span:first-child,.intro_study>ul>li>span:first-child{
	
	font-weight: 600;
	
}
.intro_study>ul>li>p{
	
	margin-top: 20px;
	
}

