.intro_project{
	
	min-height: 400px;
	
	width: 60%;
	
	margin: 50px auto;
	
	border-top: 1px solid transparent;
	
}
.intro_project:hover{
	
	border: 1px solid skyblue;
	
	
	
}
.intro_project>ul{
	
	margin-left: 30px;
	
	padding: 20px 10px 20px 0;
	
}
.intro_project>ul>li{
	
	margin-top: 30px;
	
	font-family: "宋体";
	
}
.intro_project>ul>li>span{
	
	font-weight: 600;
	
}
.intro_project>ul>li>span:nth-child(2){
	
	margin-left: 20px;
	
}
.project_content .software,.hardware,.tool,.description,.brief{
	
	margin-top: 10px;
	
}
.project_content .software>span:nth-child(1),.hardware>span:nth-child(1),.tool>span:nth-child(1),.description>span:nth-child(1),.brief>span:nth-child(1){
	
	font-weight: 600;
	
	
}
.description>p{
	
	margin-top: 10px;
	
	line-height: 25px;
	
}
.brief>ul{
	
	margin-top: 10px;
	
}
.brief>ul>li{
	
	margin-top: 10px;
	
}
.intro_job_nav{
	
	display: none;
	
	height:50px;
	
	width: 810px;
	
	position: fixed;
	
	border: 1px solid rgb(200,200,200);
	
	line-height: 50px;
	
	color: orange;
	
	background: white;
	
	top: 0;
	
	bottom: 0;
	
	left: 0;
	
	right: 0;
	
	margin: 0 auto;
	
}
.intro_job_nav:nth-child(2){
	
	font-weight: 600;
	
}
