*{
	margin: 0;
	padding: 0;
}
.container{
	min-height: 800px;
	width: 1346px;
}
/*头部开始*/
.header{
	height: 80px;
	width: 100%;
	background: white;
}
.header>img{
	float: left;
}
.header>img:first-child{
	margin:20px 0 0 200px;
	box-shadow: 10px 0 5px rgb(176,176,176);
}
.header>img:first-child+img{
	margin: 45px 0 0 30px;
}
.hea_xx{
	float: right;
	margin: 20px 150px 0 0;
}
.hea_xx ul{
	list-style: none;
	float: left;
}
.hea_xx ul li,.hea_xx ul span{
	float: left;
	margin: 5px 5px;
	color:rgb(68,68,68);
}
.hea_xx>span{
	margin-left: 10px;
	cursor: pointer;
	position: relative;
   
}
.hea_xx>span:hover .hea_erwei{
     display: block;
}
.hea_erwei{
	position: absolute;
	height: 100px;
	width: 100px;
	right: 0;
	top: 45px;
	border: 1px solid #ddd;
	background: white;
	padding: 10px;
	display: none;
    z-index: 1000;
}
.hea_erwei:before{
	content: '';
	display: inline-block;
	border-bottom: 15px white solid;
	border-left: 15px transparent solid;
	border-right: 15px transparent solid;
	border-top: 15px transparent solid;
	position: absolute;
	right: 0;
	top: -28px;

}
.hea_erwei>img{
	height: 100px;
	width: 100px;
	
}
.hea_xx>span i{
	font-size: 30px;
	color: orange;
}
.hea_xx>p i{
	font-size: 25px;
	color: orange;
}
.hea_xx>p span{
	font-size:18px;
	color: rgb(134,134,134); 
	margin-left: 8px;
}
.hea_xx>p big{
	font-size: 22px;
	color: rgb(0,73,142);
}
/*头部结束*/
.clear{
	clear: both;
}
/*导航栏部分*/
.nav{
	height: 50px;
	width: 100%;
	background: rgb(10,62,129);
	line-height: 50px;
}
.nav ul{
	list-style: none;
	margin: 10px 0 0 200px;
}
.nav ul li{
	float: left;
	margin: 0 3px;
	width: 60px;
	text-align:center;
}
.nav ul li a{
	color: white;
	text-decoration: none;
}
.active{
	background: orange;
}
/*导航栏结束*/
/*banner图部分开始*/
.banner{
	height: 420px;
	width: 100%;
}
.lunbo{
	height: 300px;
	width: 100%;
	position: relative;
	/*overflow: hidden;*/
}
.lunbo ul{
	list-style: none;
}
.lunbo ul li{
	position: absolute;
}
.lunbo li{
	height: 300px;
	width: 100%;
	position: absolute;
	display: none;
}
.lunbo img{
	height: 300px;
	width: 100%;
}
.lunbo .lb_img {
	display: block;
	height: 300px;
	width: 100%;
}
.lunbo:hover .f_left,.lunbo:hover .f_right{
	display: block;
}
.f_left,.f_right{
	font-size: 80px;
	color: white;
	position: absolute;
	top: 100px;
	cursor: pointer;
	display: none;
	opacity: 0.5;
}
.f_right{
	right: 0;
}
.ban_1{
	height: 60px;
	width: 100%;
	background: rgb(9,61,128);
}
.ban_2{
	height: 60px;
	width: 100%;
	background: rgb(204,204,204);
}
/*期货开始*/
.qihuo{
	height: 250px;
	width: 100%;
	background: rgb(238,238,238);
	margin: 25px 0 0 0;
}
/*指数接口*/
.shuju{
	height: 320px;
	width: 100%;
	background: white;
	padding-top: 50px;
}
#tubiao{
	height: 300px;
	width: 100%;
}
.zsd{
	width: 250px;
	height: 250px;
	/*border: 1px solid #000;*/
	margin-left: 100px;
	margin-right: 40px;
	float: left;
	/*background: red;*/
}
.zsd>table{
	min-width: 240px;
	min-height: 200px;
	text-align: center;
	vertical-align: middle;
	/*border: 1px solid #aaa;*/
	font-size: 16px;

}
.nanhua{
	color: gray;
}
.zsd>table tr th{
	/*background-color: red;*/
	border: 1px solid rgba(225,225,225,0.5);
	background: rgb(0,160,218);
	color: white;
	min-width: 100px;
	height: 30px;

}
.zsd td{
	border: 1px solid #aaa;
	min-width: 100px;
	height: 30px;
}
.spd{
	width: 450px;
	height: 250px;
	margin-left: 20px;
	float: left;

}
.riqi{
	height: 200px;
	width: 200px;
	border: 1px solid #000;
	margin-left: 20px;
	float: left;
	background:linear-gradient(to bottom,gray,snow,white);
}
.riqi>h2{
	width: 200px;
	height: 50px;
	background: rgb(0,84,150);
	text-align: center;
	line-height: 50px;
	color: white;
}
.riqi>a{
	display: inline-block;
	width: 100%;
	margin-top: 25px;
	text-align: center;
	text-decoration: none;
	color: rgb(87,121,167);
}
.rqd{
	height: 100px;
	width: 200px;
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	line-height: 150px;
	color: rgb(156,156,156);
}
/*脚部样式开始*/
.footer{
	width: 100%;
	margin: 30px 0;
}
.footer .one{
	width: 100%;
	height: 150px;
    background: rgb(243,243,243);
}
.footer .two{
	width: 100%;
	height: 150px;
	background: rgb(34,34,34);
	border: 1px solid transparent;

}
.foo_jy{
	width: 90%;
	margin:0 auto;
	padding: 25px 0;
}
.foo_jy ul{
	list-style: none;
}
.foo_jy ul li{
	float: left;

}
.foo_jy ul li a{
	text-decoration: none;
}
.foo_jy_o li{
	height: 30px;
	width: 150px;
	text-align: center;
	margin: 0 20px 0 0;
	font-weight: 600;
	line-height: 30px;
}
.foo_jy_o  li a{
	color: rgb(98,98,98);
	font-size: 20px;
}
.foo_act{
	cursor: pointer;
	background-color: rgb(0,72,143);
}
.foo_jy_o>.foo_act a{
	color:white;
}
.foo_jy_t li{
	margin:15px 10px 0 10px;
}
.foo_jy_t li a{
	color: rgb(208,208,208);
	font-size: 16px;
}
.foo_jw{
	width: 90%;
	margin:0 auto;
	padding: 15px 0;
}
.foo_jw_1{
	margin-top: 15px;
}
.wzp{
	color: white;
	font-weight: 600;
}
.foo_jw_1>p:not(.wzp){
	color: rgb(135,135,135);
	margin-top: 8px;
}
.foo_jw>div{
	float: left;
}
.foo_jw_2{
	margin-top: 15px;
	margin-left:50px;
}
.foo_jw_2>h2{
	color: rgb(135,135,135);
	font-size: 15px;
}
.foo_jw_2>a{
      display: inline-block;
      text-decoration: none;
      color: white;
      margin-top: 15px;
}
.foo_jw_2>a>i{
	  display: inline-block;
	  font-size: 20px;
	  height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      background-color:rgb(5,5,5);
	  border-radius:15px; 
	  margin-left: 10px;
}  
.foo_jw_2>a>p{
	font-size: 12px;
	margin-top: 5px;
	margin-left: 10px;
}
.foo_jw_3{
	margin-left: 80px;
}
.foo_jw_3>h2,.foo_jw_3>p,.foo_jw_3>p+span{
	color: rgb(135,135,135);
	margin-top: 10px;
}
.foo_jw_3>h2{
	font-size: 15px;
}
.foo_jw_3>i,.foo_jw_3>i+span{
	color: white;
	font-size: 16px;
}
