.intro_intension,
.intro_job,
.intro_education,
.intro_study,
.intro_assessment {
  width: 80%;
  min-height: 5.46875rem;
  margin: 0.78125rem auto;
  border-top: 0.015625rem solid transparent;
}
.intro_intension:hover,
.intro_job:hover,
.intro_education:hover,
.intro_study:hover,
.intro_assessment:hover {
  border: 0.015625rem solid #87ceeb;
}
.intro_intension > ul,
.intro_job > ul,
.intro_education > ul,
.intro_study > ul {
  margin-left: 0.78125rem;
  margin-top: 0.78125rem;
  font-family: '宋体';
  font-size: 0.28125rem;
}
.intro_intension > ul > li,
.intro_job > ul > li,
.intro_education > ul > li,
.intro_study > ul > li {
  margin-top: 0.3125rem;
}
.intro_intension > ul > li > span:first-child,
.intro_job > ul > li > span:first-child,
.intro_study > ul > li > span:first-child {
  font-weight: 600;
}
.intro_study > ul > li > p {
  margin-top: 0.3125rem;
}
