.intro_message {
  width: 80%;
  min-height: 5.46875rem;
  position: relative;
  margin: 0.78125rem auto;
  transition: 0.5s ease-in-out;
}
.intro_message:hover,
.intro_skill:hover {
  border: 0.015625rem solid #87ceeb;
}
.intro_message:hover .intro_message_alert {
  display: block;
  transition: 0.5s ease-in-out;
}
.intro_message_alert {
  height: 0.78125rem;
  width: 0.78125rem;
  background: url('../image/alert.png') no-repeat;
  background-size: 0.390625rem 0.390625rem;
  position: absolute;
  top: 0.390625rem;
  right: 0.15625rem;
  cursor: pointer;
  display: none;
}
.intro_message_alert:hover {
  background: url('../image/alert_light.png') no-repeat;
  background-size: 0.390625rem 0.390625rem;
}
.intro_message > h2 {
  margin-left: 1.875rem;
  font-size: 0.46875rem;
  font-weight: 600;
  padding-top: 0.3125rem;
  position: relative;
  cursor: pointer;
}
.intro_message > ul {
  margin-left: 1.875rem;
  margin-top: 0.46875rem;
}
.intro_message > ul > li {
  margin-top: 0.15625rem;
  letter-spacing: 0.03125rem;
  font-size: 0.28125rem;
  transition: 1s ease-in;
}
.intro_message > h2::before {
  content: '';
  display: inline-block;
  width: 1.25rem;
  height: 1.625rem;
  position: absolute;
  /*border: 1/64rem solid red;*/
  top: 0.703125rem;
  left: -1.5625rem;
  background: url('../image/myself_icon.jpg') no-repeat;
  background-size: 1.25rem 1.625rem;
  transition: 0.5s ease-in;
}
.intro_message > h2:hover::before {
  cursor: pointer;
  background-size: 1.5rem 1.9375rem;
  background-position: -0.109375rem -0.15625rem;
}
.intro_message > ul > li:nth-child(6):hover {
  color: orange;
  font-size: 0.390625rem;
  cursor: pointer;
  /*position: absolute;*/
}
.intro_message > ul > li:nth-child(7):hover {
  color: orange;
  font-size: 0.390625rem;
  cursor: pointer;
  transition: 0.5 ease-in;
}
