.intro {
  font-family: "宋体";
}
/*导航栏部分开始*/
.intro_nav {
  height: 1.25rem;
  width: 10rem;
  background: skyblue;
  /*position: fixed;*/
}
.intro_nav > ul {
  list-style: none;
  width: 98%;
  margin: 0 auto;
}
.intro_nav > ul > li {
  float: left;
  line-height: 1.25rem;
  font-size: 0.28125rem;
  transition: 1s ease-in;
  cursor: pointer;
  min-width: 1.25rem;
  text-align: center;
  margin-left: 0.09375rem;
}
.intro_nav > ul > li > a {
  color: white;
}
@-moz-keyframes anm {
  0% {
    width: 0;
  }
  25% {
    width: 0.390625rem;
  }
  50% {
    width: 0.78125rem;
  }
  75% {
    width: 1.171875rem;
  }
  100% {
    width: 1.5625rem;
  }
}
@-ms-keyframes anm {
  0% {
    width: 0;
  }
  25% {
    width: 0.3125rem;
  }
  50% {
    width: 0.625rem;
  }
  75% {
    width: 0.9375rem;
  }
  100% {
    width: 1.25rem;
  }
}
@-webkit-keyframes anm {
  0% {
    width: 0;
  }
  25% {
    width: 0.3125rem;
  }
  50% {
    width: 0.625rem;
  }
  75% {
    width: 0.9375rem;
  }
  100% {
    width: 1.25rem;
  }
}
.underline {
  display: block;
  /*position: absolute;*/
  height: 0.015625rem;
  width: 1.25rem;
  opacity: 0;
  background: skyblue;
  margin: 0 auto;
}
.underline_active {
  opacity: 1;
}
.intro_nav > ul > li:hover .underline {
  /*display: block;*/
  width: 1.25rem;
  opacity: 1;
  animation: anm 0.5s ease-in;
}
.intro_nav > ul > li:hover {
  background: white;
}
.singalNav {
  background: white;
}
.intro_nav > ul > li.singalNav > a {
  color: skyblue;
}
/*.singalNav::after{
    
    content: '';
    
    display: block;
    
    border: 1px solid skyblue;
    
}*/
/*.intro_nav>ul>li:hover::after{
    
    content: '';
    
    display: block;
    
    margin: 0 auto;
    
    animation: anm  3s ease-in;
    
    border: 1px solid skyblue;
}*/
.intro_nav > ul > li:hover a {
  color: skyblue;
}
/*导航栏部分结束*/
.dust {
  width: 10rem;
  position: fixed;
  background: rgba(200, 200, 200, 0.35);
  z-index: 100;
  top: 0;
}
/*进入页面选择跳转的功能*/
.intro_preview {
  height: 6.25rem;
  width: 9.375rem;
  border: 0.015625rem solid #c8c8c8;
  position: absolute;
  z-index: 1000;
  background: #F2FAFE;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-family: '宋体';
}
.intro_preview > h2 {
  font-size: 0.390625rem;
  margin-top: 0.3125rem;
}
.intro_preview_image {
  height: 1.5625rem;
  width: 1.5625rem;
  background: url('../image/myself_icon.jpg') no-repeat;
  background-size: 1.5625rem 1.5625rem;
  border-radius: 50%;
  margin: 0.3125rem auto;
}
.intro_preview_time,
.intro_preview_open {
  font-size: 0.25rem;
  font-family: "宋体";
  color: #646464;
  text-align: left;
  width: 3.125rem;
  margin: 0.234375rem auto;
}
.intro_preview_open > span:first-child {
  letter-spacing: 0.5rem;
}
.intro_preview_open > span:nth-child(2) {
  margin-left: -0.625rem;
}
.intro_preview_time > span:first-child,
.intro_preview_open > span:first-child {
  color: #969696;
}
.intro_preview_button .preview_alter,
.intro_preview_button .preview_look {
  display: inline-block;
  height: 0.625rem;
  width: 2.34375rem;
  border: 0.015625rem solid #ff6000;
  line-height: 0.625rem;
  font-size: 0.3125rem;
  margin-top: 0.78125rem;
  margin-left: 0.3125rem;
  font-family: '宋体';
}
.intro_preview_button .preview_alter {
  color: white;
  background: #FF6000;
}
.intro_preview_button .preview_alter:hover {
  color: white;
  background: #FF6000;
  opacity: 0.8;
}
.intro_preview_button .preview_look {
  color: #FF6000;
  background: #FFF2E3;
}
.intro_preview_button .preview_look:hover {
  color: #FF6000;
  background: #FFF2E3;
  opacity: 0.6;
}
.clear {
  clear: both;
}
